.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity:1.6;
}

.container {
    display: flex;
    justify-content: center;
    font-size: 3.8rem;
    color: #3a1e1e;
    padding: 88px 35px;
    position: relative;
}

.heading{
    border: 0px solid black;
}

.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: -1;
}

.link{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin: 34px 34px;
    padding: 34px 34px;
}
a:hover{
    color: rgb(1, 1, 1);
}

.avatar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px;
    z-index: 1;
}

.avatar img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 80%; /* Optional: to make the image round */
}
